language: android

jdk:
  - oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - build-tools-25.0.3
    - android-26
    - extra-android-support
    - extra-android-m2repository

script:
  - ./gradlew assembleDebug
  - ./gradlew test
