<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.rampro.activitydiary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ActivityDiaryApplication">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.EditActivity"
            android:label="@string/activity_title_edit_new" />
        <activity android:name=".ui.ManageActivity"
            android:label="@string/activity_title_manage_activities" />
        <activity android:name=".ui.HistoryActivity"
            android:label="@string/activity_title_history" />
        <activity android:name=".ui.AboutActivity"
            android:label="@string/activity_title_about" />
        <provider
            android:name=".db.ActivityDiaryContentProvider"
            android:authorities="de.rampro.activitydiary"
            android:multiprocess="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="ActivityDiaryProvider"
            android:icon="@mipmap/ic_launcher"
            android:readPermission="de.rampro.activitydiary.READ"
            android:writePermission="de.rampro.activitydiary.WRITE"
            />
    </application>

</manifest>